chardet==3.0.4
idna==2.5
nltk==3.2.4
numpy==1.13.1
oauthlib==2.0.2
pandas==0.20.3
plotly==2.0.12
pytz==2017.2
qgrid==0.3.3
requests==2.18.3
requests-oauthlib==0.8.0
scikit-learn==0.18.2
scipy==0.19.1
sklearn==0.0
twython==3.5.0
urllib3==1.26.5
